.parent {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.imagelink,
.productName,
.productDescription,
.price {
    input {
        width: 30vw;
        height: 5vh;
        margin-bottom: 3%;
    }
}

.button {
    display: flex;
    justify-content: center;

    button {
        width: 70%;
        height: 5vh;
        background-color: rgb(126, 218, 126);
        border: none;
        outline: none;
    }
}